KINDE_CLIENT_ID=
KINDE_CLIENT_SECRET=
KINDE_ISSUER_URL=
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=(4:27:00)
CLOUDINARY_API_SECRET=(4:27:00)

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/onlyfans?schema=public"

ADMIN_EMAIL=(5:50:10)

NEXT_PUBLIC_STRIPE_DEV_MONTHLY_URL=(8:33:48)
NEXT_PUBLIC_STRIPE_LIVE_MONTHLY_URL=(8:33:48)
NEXT_PUBLIC_STRIPE_LIVE_YEARLY_URL=(8:33:48)
